.teams-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.link-item-card {
  text-decoration: none;
}
.teams-card {
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background: transparent;
  opacity: 0.5;
  margin: 30px;
  width: 400px;
  height: 150px;
}
.ipl-img {
  width: 100px;
  height: 90px;
  margin-right: 20px;
}
.ipl-title {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 25px;
  font-weight: 500;
}
